---
v2:
  metadata:
    title: "login_{{ cluster_name }}"
  job:
    adapter: "systemd"
    submit_host: "{{ Login_ip }}"
    ssh_host:
      - {{ Login_ip }}
    #site_timeout: 7200
    strict_host_checking: false
    debug: true

  # Don't show ssh link in batch connect card
  batch_connect:
    ssh_allow: false
    basic:
      script_wrapper: |
        module purge
        %s