---
v2:
  metadata:
    title: "{{ cluster_name }}"
  login:
    host: "{{ Login_ip }}"
  job:
    adapter: "slurm"
    #bin: "/usr/bin"
    bin_overrides:
      sbatch: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/sbatch_wrapper.sh"
      squeue: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/squeue_wrapper.sh"
      scontrol: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/scontrol_wrapper.sh"
      scancel: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/scancel_wrapper.sh"
      sinfo: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/sinfo_wrapper.sh"
      sacctmgr: "/usr/local/bin/{{ escaped_cluster_name }}_wrapper_scripts/sacctmgr_wrapper.sh"
  # Don't show ssh link in batch connect card
  batch_connect:
    ssh_allow: false
    basic:
      script_wrapper: |
        module purge
        %s
