<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src= "https://code.jquery.com/jquery-1.12.4.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #000000;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        .alert {
            padding: 20px;
            margin: 5px;
            color: #ff0000;
            background-color: #ffd5de;
        }
        .message {
            padding: 20px;
            margin: 5px;
            background-color: #32de84 ;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Add a Cluster</a>
    </nav>
    <hr>
    <div class="content">
        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="{{ category }}"> {{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
</body>
</html>